.required-field::before {
  content: "*";
  color: red;
  float: right;
}

.profilInputok:disabled {
  background-color: transparent;
}

.profilInputok:not(:disabled) {
  border: solid 1px rgb(79, 122, 178);
}
