.required-field::before {
  content: "*";
  color: red;
  float: right;
}

.profilInputok:disabled {
  margin: 0;
  padding: 5px;
}
.profilInputok:not(:disabled) {
  margin: 0;
  padding: 4px;
}

.profilInputok:disabled {
  background-color: transparent;
  color: black;
  border: none;
}

.profilInputok:not(:disabled) {
  border: solid 1px rgb(228, 228, 228);
  border-radius: 5px;
}
