body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgba(173, 216, 230, 0.544);
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

td {
  align-content: center;
}

img {
  height: 400px;
}

.kartyak {
  padding: 40px;
}

.kapcsolatiurlap {
  text-align: center;
}

.kapcsolatdiv {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  text-align: center;
  margin: 4rem;
  margin-top: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  padding-top: 20px;
  color: blue;
}

.responsive-table {
  text-align: center;
  vertical-align: middle;
  width: 1300px;
}

#containerhatter {
  background: linear-gradient(
    to bottom,
    rgba(30, 0, 255, 0.2),
    rgba(114, 1, 252, 0.2),
    rgba(1, 22, 252, 0.296)
  );
}

ul,
li {
  list-style-type: none;
}

@media only screen and (max-width: 1300px) {
  body {
    background-color: rgb(239, 239, 239);
  }

  img {
    height: 300px;
  }

  .kapcsolatdiv {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }

  .responsive-table {
    text-align: center;
    width: 900px;
  }

  .worktableimg{
    
  }
}

@media only screen and (max-width: 880px) {
  body {
    background-color: rgb(201, 201, 201);
  }

  img {
    height: 300px;
  }

  iframe {
    width: 350px;
    height: 200px;
  }

  .responsive-table {
    display: grid;
    grid-template-columns: 100%;
    width: 350px;
  }

  .responsive-table thead,
  .responsive-table tbody,
  .responsive-table tr,
  .responsive-table th,
  .responsive-table td {
    display: block;
  }

  .responsive-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .responsive-table tr {
    margin-bottom: 20px;
  }

  .responsive-table td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: center;
  }

  .responsive-table td:before {
    content: attr(data-label);
    position: absolute;
    left: 5px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .responsive-table td button.send-button {
    width: 100%;
  }

  .worktable thead,
  .worktable tbody,
  .worktable th,
  .worktable td,
  .worktable tr {
    display: block;
    text-align: center; 
  }

  .worktable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .worktable tr {
    margin-bottom: 1rem;
  }
  .worktable td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: left;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .worktable td:before {
    position: absolute;
    text-align: end;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    width: 45%;
    padding-right: 5px;
    white-space: nowrap;
    content: attr(data-label);
    
  }


  .worktable td:nth-of-type(2):before {
    content: "Munka megnevezése";
  }

  .worktable td:nth-of-type(3):before {
    content: "Munka ára";
  }

  .worktable td:last-child:before {
    content: none;
  }
  .worktable td button {
    max-width: 200px;
    width: 100%; 
  }
}
